<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Article</h1>
</div>
<div class="col-6 offset-3">
  <form action="/articles" method="POST">
    <div class="mb-3">
      <label class="form-label" for="title">Title</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="article[title]"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <input
        class="form-control"
        type="text"
        id="description"
        name="article[description]"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="content">Content</label>
      <textarea
        class="form-control"
        type="text"
        id="content"
        name="article[content]"
        rows="4"
        cols="50"
      ></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label" for="image">Image Url</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input
          class="form-control"
          type="text"
          id="image"
          name="article[image]"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    

    <div class="mb-3">
      <button class="btn btn-success">Add Article</button>
    </div>
  </form>
</div>
